/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/style.css ***!
  \*****************************************************************/
body {
  max-width: 1400px;
  margin: 0 auto;
}

p {
  font-size: 20px;
  margin: 6px 0;
}

pre {
  font-size: large;
  margin: 3px 0;
}

h1 {
  margin: 6px 0;
  font-size: 24px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 12px 0;
  font-size: 18px;
}

/*!******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/header/header.style.css ***!
  \******************************************************************************************/
.app-header {
    font-size:xx-large;
    font-style: italic;
    font-weight: 700;
}
/*!******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/smiley/smiley.style.css ***!
  \******************************************************************************************/

.smiley {
  font-size: 64px;
}

.smiley:hover {
  cursor: pointer;
}

.each-smiley {
  display: inline-block;
  padding: 8px;
}

.smiley-votes {
  font-size: larger;
  font-style: italic;
  font-weight: 600;
}


/*!********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/results/results.style.css ***!
  \********************************************************************************************/
h3 {
    margin: 6px 0;
}
/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/app.style.css ***!
  \*********************************************************************/
.block {
  padding: 6px 0;
  text-align: center;
}

.smiley-block {
  padding: 12px 0;
}

.results-btn {
  color: white;
  background-color: green;
  font-size: larger;
  padding: 12px;
  border: none;
  border-radius: 12px;
  margin: 6px 12px;
}

.results-btn:hover {
  cursor: pointer;
}

.clr-results-btn {
  color: white;
  background-color: red;
  font-size: larger;
  padding: 12px;
  border: none;
  border-radius: 12px;
  margin: 6px 12px;
}

.clr-results-btn:hover {
  cursor: pointer;
}

.results-block {
  
}
